html{
    color: white;
    background-color: black;
    font-family: monospace;
}
#pageHeading{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    text-align: center;
}
img{
    height: 150px;
    width: 250px;
    float: right;

}
.container{
    width: 50%;
    height: 50%;
    border: 2px solid white;
    margin-left: 300px;
    padding: 10px;

}
header{
    font-size: 30px;
}
li{
    float: left;
    margin-left: 150px;
    margin-top: 30px;
    list-style-type: none;
    border: 2px solid white;
    width: 200px;
    text-align: center;

}
a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 15px;
}
li:hover{
    background: white;
    
}
a:hover{
    color: black;
}
.active{
    color: black;
    background-color: white;
}
